@model VhnK22CNT4Lesson11_2210900050.Models.VhnProduct

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VhnProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VhnProName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VhnProName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VhnQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VhnQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VhnPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VhnPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VhnCateid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VhnCateid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VhnActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VhnActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VhnID2210900050 }) |
    @Html.ActionLink("Back to List", "VhnIndex")
</p>
