@model VhnBaiKiemTraGK.Models.vhnKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>vhnKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VhnTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VhnTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VhnTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VhnTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VhnMaKH }) |
    @Html.ActionLink("Back to List", "VhnIndex")
</p>
